.container {
  display: flex;
  justify-content: center;
  margin: 20px 0px;

  .innerContainer {
    display: flex;
    justify-content: space-between;
    width: 70%;

    @include respond-below(sm) {
      flex-direction: column;
    }

    .dropdownOuterContainer {
      margin: 10px;
      flex: 2;
    }

    .searchContainer {
      display: flex;
      justify-content: flex-end;
      margin: 10px;
    }
  }
}
