.container {
  .doctorContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    .doctorInnerContainer {
      display: flex;
      justify-content: center;
      width: 70%;
      padding-bottom: 10px;
      border-bottom: 1px solid $primary-color;
    }
  }

  .doctorDetailContainer {
    display: flex;
    justify-content: center;

    .doctorDetailInnerContainer {
      display: flex;
      justify-content: center;
      width: 70%;
      @include respond-below(lg) {
        flex-direction: column;
      }

      .basicInformationContainer {
        flex: 1;
        justify-self: flex-end;
      }

      .clinicDetailContainer {
        flex: 1;
        justify-self: flex-end;
      }
    }
  }
}
