.container {
  margin: 20px 0;

  .innerContainer {
    padding: 10px 20px;

    .contentContainer {
      display: flex;
      align-items: center;
      margin: 10px 0px;

      .content {
        margin-left: 10px;
      }
    }

    .contactOutterContainer {
      display: flex;
      align-items: center;
      margin: 10px 0px;

      .contactContainer {
        margin-left: 10px;

        .contactInnerContainer {
          display: flex;

          .contactKey {
            margin-right: 10px;
          }
        }
      }
    }

    .businessHourOutterContainer {
      display: flex;
      align-items: center;
      margin: 10px 0px;

      .businessHourContainer {
        margin-left: 10px;

        .businessHourInnerContainer {
          display: flex;
          .businessHourKey {
            margin-right: 10px;
          }
        }
      }
    }

    .time {
      margin: 10px 10px 10px 0px;
    }
  }
}
